body {
    font-family: 'Lato', sans-serif;
    color: var(--black);
}
.container {

    margin: 0 auto; 
    width: 71.3%;

    @include tablet {
        width: 95.5%;
    } 

    @include mobile {
        width: 91.4%;
    } 

    @include desktop-width-mid {
        width: 95%;
    }

    @include tablet-mobile {
        width: 95%;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}