    $black: #222222;
    $light-pink: #f1e4e6;
    $dark-pink: #f16d7f;
    $sales-bkg-color:#4f4745;
    $white: #fffffF;
    $grey: #9f9f9f;
    $light-grey: #f8f8f8;
    $dark-grey: #5d5d5d;
    $info: #fbfbfb;
    $email: #e1e1e1;
    $registration: #f8f3f4;
    $name: #b1b1b1;
    $sex: #a4a4a4;
    $nav_text: #6f6e6e;
    $cart-cross: #575757;
    $checkout-fon: #f5f3f3;
    $line: #e2e2e2;
    $checkout-prices: #4a4a4a;

    $desktop-width: 1599px;
    $tablet-width: 767px;