.cart__block-wrp {
    display: flex;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }
}

.cart__product {
    margin: 96px 128px 128px 0;

    @include tablet {
        margin: 59px 0px 64px 0;
    }

    @include mobile {
        margin: 39px 0px 48px 0;
    }
}

.cart__item {
    min-width: 57%;
    background-color: $white;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 40px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

    @include tablet {
        min-width: 95.5%;
    }

    @include mobile {
        min-width: 95.5%;
    }
}

.cart__item-wrp {
    flex-direction: column;
    margin-left: 32px;

    @include mobile {
        margin-left: 17px;
    }
}

.cart__button-cross {
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
}

.cart__list {
    margin-bottom: 72px;

    @include mobile {
        margin-bottom: 30px;
    }
}

.cart__item-cross {
    color: $cart-cross;
    height: 18px;
    width: 18px;
    margin: 28px 22px 0 90px;
    cursor: pointer;

    @include mobile {
        height: 11px;
        width: 10px;
        margin: 17px 0px 0 -2px;
    }
}

.cart__img {
    width: 262px;
    height: 306px;

    @include mobile {
        width: 50%;
        height: 50%
    }
}

.cart__item-header {
    @include font (24px, 29px, 400);
    text-transform: uppercase;
    margin: 22px 3px 42px 0;
    width: 262px;

    @include mobile {
        width: 140px;
        @include font (16px, 19px, 400);
        margin: 13px 0 25px 0;
    }
}

.cart__item-text {
    @include font (22px, 26px, 400);
    color: $cart-cross;
    margin-bottom: 6px;

    @include mobile {
        @include font (14px, 17px, 400);
    }
}

.cart__item-price {
    color: $dark-pink;
    @include font (22px, 26px, 400);

    @include mobile {
        @include font (14px, 17px, 400);
    }
}

.cart__item-number {
    border: 1px solid $grey;
    @include font (18px, 22px, 400);
    margin-left: 24px;
    padding: 1px 17px 2px 16px;

    @include mobile {
        @include font (10px, 12px, 400);  
        padding: 1px 9px;
        margin-left: 15px;
    }
}

.cart__buttons {
    display: flex;
    justify-content: space-between;

    @include tablet {
        justify-content: space-evenly;
    }
}

.cart__buttons-item {
    padding: 16px 40px;
    @include font (14px, 17px, 300);
    text-transform: uppercase;
    outline: 1px solid $sex;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $black;

    @include mobile {
        @include font (12px, 14px, 400);
        padding: 9px 17px;
        text-transform: none;
    }
}

.cart__buttons-item:hover,
.cart__buttons-item:active,
.cart__buttons-item:focus {
    outline: 1px solid $dark-pink;
    color: $dark-pink;
}

.cart__registration {
    margin-top: 113px;

    @include tablet {
        display: flex;
        margin-top: 0;
    }

    @include mobile {
        flex-direction: column;
    }
}

.cart__registration-header {
    @include font (16px, 19px, 300);
    color: $black;
    text-transform: uppercase;
}

.cart__registration-area {
    height: 45px;
    padding: 0px 209px 0px 12px;
    width: 31%;
    margin-top: 20px;
    border-radius: 0;
    outline: 1px solid $sex;
    border: none;

    @include tablet {
        width: 31.5%;
    }
}

.cart__registration-button {
    margin: 24px 0 58px 0;
    padding: 10px 14px 12px 15px;
    border-radius: 0;
    outline: 1px solid $sex;
    background-color: transparent;
    text-transform: uppercase;
    @include font (11px, 13px, 300);
    color: $sex;
    border: none;

    @include mobile {
        text-transform: none;
        margin: 23px 0 48px 0;
    }
}

.cart__registration-button:hover,
.cart__registration-button:active,
.cart__registration-button:focus {
    outline: 1px solid $dark-pink;
    color: $dark-pink;
}

.cart__registration-area:active {
    outline: 1px solid $sex;
}

.cart__checkout {
    width: 95%;
    height: 214px;
    background-color: $checkout-fon;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 39px 34px 43px;
    box-sizing: border-box;

    @include tablet {
        width: 31.5%;
    }

    @include mobile {
        margin: 0 0 96px;
    }
}

.cart__checkout-texts {
    @include font (11px, 13px, 400);
    color: $sex;
    text-transform: uppercase;
}

.cart__checkout-textb {
    margin: 12px 3px 21px 0;
    color: $sex;
    text-transform: uppercase;
    @include font (16px, 19px, 300);
}

.cart__checkout-prices {
    margin-left: 47px;
    color: $checkout-prices;
}

.cart__checkout-priceb {
    @include font (16px, 19px, 700); 
    color: $dark-pink;
    margin-left: 47px;
}

.cart__checkout-line {
    min-width: 275px;
    color: $line;
    margin: 0;
    align-self: center;
}

.cart__checkout-button {
    padding: 15px 38px;
    text-transform: uppercase;
    @include font (14px, 19px, 300); 
    color: $white;
    background-color: $dark-pink;
    border: none;
    align-self: center;
    margin-top: 17px;
}

.cart__checkout-button:hover,
.cart__checkout-button:active,
.cart__checkout-button:focus {
    outline: 1px solid $dark-pink;
    color: $dark-pink;
    background-color: transparent;
}