.info {
    background-color: $black;
    min-height: 341px;
    display: flex;

    @include tablet {
        min-height: 610px;
    }

    @include mobile {
        min-height: 610px;
    }
}

.info__list {
    display: flex;
    align-items: end;
    
    @include tablet { 
        flex-direction: column;
        justify-content: center;
    }
}

.info__img-delivery {
    width: 45px;
    align-self: center;
    height: 32px;
}

.info__img-sale {
    width: 40px;
    align-self: center;
    height: 40px;

    @include tablet {
        margin-top: 48px;
    }

    @include mobile {
        margin-top: 46px;
    }
}

.info__img-assurance {
    width: 47px;
    align-self: center;
    height: 35px;

    @include tablet {
        margin-top: 48px;
    }

    @include mobile {
        margin-top: 46px;
    }
}

.info__list-wrp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    @include tablet {
        flex-direction: column;
    }
}

.info__item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.info__header {
    color: $info;
    margin: 25px 0 19px 0;
    @include font (20px, 24px, 400); 

    @include tablet {
        margin: 28px 0 16px 0;
    }
}

.info__text {
    color: $info;
    @include font (14px, 17px, 300); 

    @include tablet {
        width: 360px;
    }

    @include tablet {
        width: 347px;
    }
}