.registration__header-wrp {
    background-color: $registration;
    min-height: 148px;
    display: flex;
}

.registration-wrp {
    display: flex;
}

.registration__element-wrp {
    margin: 64px 0 96px 0;
}

.registration__list {
    margin: 0;
    list-style: none;
}

.registration__item {
    position: relative;
    margin: 16px 0 16px 44px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.registration__item:before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    background-image: url(../img/element.svg);
    left: -45px;
    background-size: 100%;
    top: 29%;
}

.registration__headline {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: $black;
    text-transform: uppercase;
}

.registration__text {
    color: $black;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 23px 0;
}

.input__text {
    padding: 13px 200px 16px 17px;
    margin: 20px 128px 0 0;
    outline: 1px solid $sex;
    border: none;
}

.input__text::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $name;
}

.input__text:hover,
.input__text:focus {
    border: none;
}

.registration__comment {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $name;
    margin: 15px 0 39px 0;
    width: 359px;
}

.registration__sex {
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid $sex;
    transition: 0.2s all linear;
    outline: none;
    position: relative;
    top: 2px;
    box-sizing: border-box;
    margin: 0;
}

.registration__sex:checked {
    border: 6px solid $black;
}

.registration__sex-wrp {
    margin: 30px 0 33px 0;
}

.registration__sex-text {
    margin: 0 10px 0 10px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: $black;
}


.registration__button {
    padding: 17px 29px;
    text-transform: uppercase;
    background-color: $dark-pink;
    color: $white;
    border: none;
    fill: $white;
}

.registration__button:hover,
.registration__button:focus,
.registration__button:active {
    outline: 1px solid $dark-pink;
    background-color: $white;
    color: $dark-pink;
    fill: $dark-pink;
}

.registration__button-img {
    margin-left: 20px;
}