.registration__header-wrp {
    background-color: $registration;
    min-height: 148px;
    display: flex;
}

.registration-wrp {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
}

.registration__element-wrp {
    margin: 64px 0 96px 0;

    @include mobile {
        margin: 0;
    }
}

.registration__element {
    @include mobile {
        margin: 40px 0 0 0;
    }
}

.registration__list {
    margin: 0;
    list-style: none;

    @include mobile {
        margin-bottom: 100px;
    }
}

.registration__item {
    position: relative;
    margin: 16px 0 16px 44px;
    @include font (24px, 29px, 300); 

    @include tablet {
        @include font (16px, 19px, 300); 
        margin: 0 0 21px 44px;
    }
}

.registration__item:before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    background-image: url(../img/element.svg);
    left: -45px;
    background-size: 100%;
    top: 29%;
}

.registration__headline {
    @include font (24px, 29px, 300); 
    color: $black;
    text-transform: uppercase;

    @include tablet {
        @include font (16px, 19px, 300); 
    }
}

.registration__text {
    color: $black;
    @include font (24px, 29px, 300); 
    margin: 22px 0;

    @include tablet {
        @include font (16px, 19px, 300); 
        margin: 32px 0 22px 0;
}
    }

.input__text {
    padding: 13px 200px 16px 17px;
    margin: 20px 128px 0 0;
    outline: 1px solid $sex;
    border: none;

@include tablet {
    margin: 20px 22px 0 0;
    }

    @include mobile {
        margin: 20px 0 0 0;
    }
}

.input__text::placeholder {
    @include font (13px, 16px, 300); 
    color: $name;
}

.input__text:hover,
.input__text:focus {
    border: none;
}

.registration__comment {
    @include font (13px, 16px, 300); 
    color: $name;
    margin: 15px 0 39px 0;
    width: 359px;
}

.registration__sex {
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid $sex;
    transition: 0.2s all linear;
    outline: none;
    position: relative;
    top: 2px;
    box-sizing: border-box;
    margin: 0;
}

.registration__sex:checked {
    border: 6px solid $black;
}

.registration__sex-wrp {
    margin: 30px 0 33px 0;
}

.registration__sex-text {
    margin: 0 10px 0 10px;
    @include font (11px, 13px, 300); 
    color: $black;
}


.registration__button {
    padding: 17px 29px;
    text-transform: uppercase;
    background-color: $dark-pink;
    color: $white;
    border: none;
    fill: $white;

    @include mobile {
        margin-bottom: 40px;
    }
}

.registration__button:hover,
.registration__button:focus,
.registration__button:active {
    outline: 1px solid $dark-pink;
    background-color: $white;
    color: $dark-pink;
    fill: $dark-pink;
}

.registration__button-img {
    margin-left: 20px;
}