.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    box-sizing: border-box;
    width: 31.6%;
    min-height: 260px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 232px;
        min-height: 167px; 
        }
    @include mobile {
        margin-bottom: 20px;
        width: 343px;
        min-height: 247px; 
        }
    
}

.sales__item-woman {
    background-image: url(../img/woman_sales.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item-man {
    background-image: url(../img/man_sales.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item-kids {
    background-image: url(../img/kids.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item-accesories {
    background-image: url(../img/acssesoris.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 30px 0 97px 0;

    @include tablet {
        height: 116px; 
        margin: 19px 0 155px 0;
    }

    @include mobile {
        min-height: 111px; 
        width: 343px;
        margin: 0 0 64px 0;
    }
}

.sales__text {
    @include font (16px, 19px, 400); 
    text-transform: uppercase;
    text-align: center;
    color: $white;
}

.sales__title {
    @include font (18px, 22px, 900); 
    text-align: center;
    text-transform: uppercase;
    color: $dark-pink;
}
