.search {
    border-radius: 50px;
    padding: 15px 60px 14px 52px;
    background-color: transparent;
    outline: 1px solid $grey;
    border: none;
    color: $light-grey;
    margin-left: -33px;

    @include mobile {
        padding: 10px 0 10px 43px;
        margin-left: -34px;
    }
}

.search::placeholder {
    color: $grey;
}

.search:hover,
.search:focus {
    outline: 1px solid $dark-pink;
    border: none;
}